<h1 style="margin:20px 0px;">Events</h1>

<h2 *ngIf="myEvents.length > 0;">Your Events</h2>
<div class="tile-grid" *ngFor="let event of myEvents, let i = index">
  <md-card>
    <md-card-title>{{event.title}}<button style="margin:0px 20px;" md-mini-fab (click)="removeEvent(i)"><md-icon style="color: white;">clear</md-icon></button></md-card-title>
    <md-card-content>
      <div>{{event.date}}</div>
      <table align="center">
        <tr>
          <th><span style="display: inline-block"><img src="assets/images/{{event.avatar}}" style="margin:0px 20px; max-width: 350px; max-height: 350px;;"></span></th>
          <th><p style="display: inline-block;">{{event.description}}</p></th>
        </tr>
      </table>
    </md-card-content>
  </md-card>
</div>

<h2 *ngIf="events.length > 0;" style="margin: 20px 0px;">Events Near You</h2>
<div class="tile-grid" *ngFor="let event of events, let i = index">
  <md-card>
    <md-card-title>{{event.title}}<button style="margin:0px 20px;" md-mini-fab (click)="addEvent(i)"><md-icon style="color: white;">add</md-icon></button></md-card-title>
    <md-card-content>
      <div>{{event.date}}</div>
      <table align="center">
        <tr>
          <th><span style="display: inline-block"><img src="assets/images/{{event.avatar}}" style="margin:0px 20px; max-width: 350px; max-height: 350px;;"></span></th>
          <th><p style="display: inline-block;">{{event.description}}</p></th>
        </tr>
      </table>
    </md-card-content>
  </md-card>
</div>
