<h1>Events</h1>

<md-list>
  <md-card>
  <md-list-item> 
    <img md-list-avatar src="assets/images/profile-pic.png">
    <span>5K Anderson, SC</span>
  </md-list-item>
  </md-card>
  <md-card>
  <md-list-item> 
    <img md-list-avatar src="assets/images/profile-pic.png">
    <span>Annual Color Run Clemson, SC</span>
  </md-list-item>
  </md-card>
  <md-card>
  <md-list-item> 
    <img md-list-avatar src="assets/images/profile-pic.png">
    <span>Group Workout Fike</span>
  </md-list-item>
  </md-card>
</md-list>
