/*lightgreen: rgb(152,228,193)*/
/*mediumgreen: rgb(112,217,169)*/
/*darkgreen: rgb(72,206,145)*/
/*lightgray: rgb(245,245,245)*/
/*mediumgray: rgb(225,225,225)*/
/*darkgray: rgb(100,100,100)*/

@import "../../scss/colors.scss";

.list-item {

}
.list-item:hover {
  background-color: $mediumgray;
}

.upvote {
  float: right;
}

.number {

  width: 40px;
  text-align: center;
  display: inline-block;
}
.plain-btn {
  background-color: $lightgray;
  box-shadow: none;
}
.plain-btn md-icon {
  color: $darkgray;
}

.li-content {
  display: inline-block;
}
.show-on-hover {
  opacity: 0.3;
}
.show-on-hover:hover {
  opacity: 1;
}
.delete-btn {
  @extend .plain-btn;
}
.delete-btn:hover {
  background-color: $warning-light;
  md-icon {
    color: $warning;
  }
}


md-list-item img {
  width: 50px;
  height: 50px;
  margin-left: -10px;
  margin-right: 10px;
  border-radius: 10%;
}
md-list-item a  {
  width: 450px;
}
md-list-item a h3 {
  color: $m800;
  font-size: 15px;
}
md-list-item a p {
  font-size: 12px;
}

.liked {
  md-icon {
    color: $a400;
  }
}


md-checkbox {
  display: block;
}
button {
  background-color: $a400;
}
button md-icon {
  color: white;
}
.title-button {
  float: right;
}

.center {
  text-align: center;
}
