/*lightgreen: rgb(152,228,193)*/
/*mediumgreen: rgb(112,217,169)*/
/*darkgreen: rgb(72,206,145)*/
/*lightgray: rgb(245,245,245)*/
/*mediumgray: rgb(225,225,225)*/
/*darkgray: rgb(100,100,100)*/

@import "../../scss/colors.scss";

.tile-grid {
  margin-top: 20px;
  max-width: 900px;
  font-size: 0px; /* needed to remove default spacing for 'inline-block' on .tile */
}
.tile {
  box-sizing: border-box;
  padding: 10px 10px 0px 0px;
  display: inline-block;
  height: 300px;
}
.half-width {
  width: 450px;
}
.full-width {
  width: 900px;
}

.card {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  background-color: rgba(245,245,245,1);
  height: 100%;
  position: relative;
}

.card-header {
  font-size: 20px;
  padding: 20px;
  padding-bottom: 0px;

}
.card-header h2{
  display: inline-block;
  font-size: 20px;
}

.card-content {
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
}

.card-footer {
  padding: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
.add-button {
  background-color: $a200;
  box-shadow: 1px 0 1px rgba(0,0,0,.24);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;

}
.add-button:hover {
  background-color: $a400;
}
.add-button:active {
  box-shadow: none;
}

.link-button {
  background-color: $a200;
  box-shadow: 1px 0 1px rgba(0,0,0,.24);
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 0px 10px;
  margin-left: 10px;
}

.link-button:hover {
  background-color: $a400;
}
.link-button:active {
  box-shadow: none;
}

.delete-button {
  display: inline-block;
}

.checkbox-label {
  margin-bottom: 10px;
  display: block;
  height: 25px;

}

.checkbox {
  margin-bottom: -5px;
}
/*.checkbox-label label {
  line-height: 25px;
  vertical-align: middle;
}*/


/*
md-checkbox {
  display: flex;
  margin-bottom: 10px;
}*/
