@import "../../scss/colors.scss";

.container {
  width: 240px;
  height: 240px;
  background-color: $m600;
}

.profile-pic {
  border-radius: 50%;
  width: 60%;
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.name {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.username {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: #fff;
}
