<h1>Goals</h1>

<div class="tile-grid">
  <div class="tile full-width">
    <md-card>
      <md-card-title>
        Daily Goals
      </md-card-title>
      <md-card-content>
        <md-checkbox *ngFor="let goal of goals; let i = index" >
          <font size="2">{{goal}}</font>
          <button md-icon-button class="delete-btn show-on-hover" (click)=removeGoal(i)><md-icon>delete_forever</md-icon></button>
        </md-checkbox>
        <md-checkbox disabled>
          <md-input-container>
            <input mdInput placeholder="New Goal" [(ngModel)]="newGoal" (keyup.enter)="addNewGoal()">
          </md-input-container>
          <button md-mini-fab (click)="addNewGoal()"><md-icon>add</md-icon></button>
        </md-checkbox>

      </md-card-content>
    </md-card>

  </div></div>

  <div class="tile-grid">
    <div class="tile full-width">

      <md-card>
        <md-card-title>
          LongTerm Goals
        </md-card-title>
        <md-card-content>
          <md-checkbox *ngFor="let goal of goals2; let i = index">
            <font size="2">{{goal}}</font>
            <button md-icon-button class="delete-btn show-on-hover" (click)=removeGoal2(i)><md-icon>delete_forever</md-icon></button>
          </md-checkbox>
          <md-checkbox disabled>
            <md-input-container>
              <input mdInput placeholder="New Goal" [(ngModel)]="newGoal2" (keyup.enter)="addNewGoal2()">
            </md-input-container>
            <button md-mini-fab (click)="addNewGoal2()"><md-icon>add</md-icon></button>
          </md-checkbox>

        </md-card-content>
      </md-card>


    </div></div>

  <div class="tile-grid">
    <div class="tile full-width">


    <md-card class="card">
      <md-card-title>
        Progress
      </md-card-title>
      <md-card-header>
        <div md-card-avatar class="image"></div>
        <md-card-subtitle>Last Updated: 1 second ago</md-card-subtitle>
      </md-card-header>


      <md-card-content>
        <md-tab-group>
          <md-tab label="Running"><img md-card-image src="assets/images/result1.jpg"></md-tab>
          <md-tab label="Weight Loss"><img md-card-image src="assets/images/result3.jpg"></md-tab>
          <md-tab label="Calorie Consumption"><img md-card-image src="assets/images/result2.jpg"></md-tab>
\        </md-tab-group>
        <p>
          Click to see the pogress of your different goals :D
        </p>
      </md-card-content>

    </md-card>

</div></div>
