<h1 style="margin:20px 0px;">People</h1>

<h2>Your Connections</h2>
<md-list>
  <md-card *ngFor="let c of myConnections" style="margin:10px 0px;">
    <md-list-item> 
      <img md-list-avatar src="assets/images/{{c.avatar}}" style="margin:0px 20px">
      <span>{{c.first}} {{c.last}}</span>
    </md-list-item>
  </md-card>
</md-list>

<h2 style="margin:20px 0px;">People Near You</h2>
<md-list>
  <md-card *ngFor="let c of people, let i = index" style="margin:10px 0px;">
    <md-list-item> 
      <img md-list-avatar src="assets/images/{{c.avatar}}" style="margin:0px 20px">
      <span>{{c.first}} {{c.last}}<button style="margin:0px 20px;" md-mini-fab (click)="addPerson(i)"><md-icon >add</md-icon></button></span>
    </md-list-item>
  </md-card>
</md-list>
