<h1>People</h1>

<md-list>
  <md-card>
    <md-list-item> 
      <img md-list-avatar src="assets/images/DariusProfile.jpg" style="margin:0px 20px">
      <span>Darius McMillan</span>
    </md-list-item>
  </md-card>
  <md-card>
    <md-list-item> 
      <img md-list-avatar src="assets/images/SusanProfile.jpg" style="margin:0px 20px">
      <span>Susan Thomson</span>
    </md-list-item>
  </md-card>
  <md-card>
    <md-list-item> 
      <img md-list-avatar src="assets/images/JackProfile.jpg" style="margin:0px 20px">
      <span>Jack Venable</span>
    </md-list-item>
  </md-card>
</md-list>
