<h1 style="margin:20px 0px;">People</h1>

<div class="tile-grid">
<div class="tile half-width">
    <md-card>
      <md-card-title *ngIf="myConnections.length > 0;">Your Connections</md-card-title>
      <md-nav-list>
        <md-list-item *ngFor="let c of myConnections, let i = index" style="margin:10px 10px">
          <img src="assets/images/{{c.avatar}}">
            <a href="">
              <div>{{c.first}}{{c.last}}</div>
            </a>
            <div>
              <button md-mini-fab (click)="removePerson(i)">
                <md-icon style="color: white;">clear</md-icon>
              </button>
            </div>
          </md-list-item>
        </md-nav-list>
    </md-card>
  </div>

  <div class="tile half-width">
    <md-card>
      <md-card-title *ngIf="people.length > 0;">People Near You</md-card-title>
      <md-nav-list>
        <md-list-item *ngFor="let c of people, let i = index" style="margin:10px 10px">
          <img src="assets/images/{{c.avatar}}">
            <a href="">
              <div>{{c.first}}{{c.last}}</div>
            </a>
            <div>
              <button md-mini-fab (click)="addPerson(i)">
                <md-icon style="color: white;">person_add</md-icon>
              </button>
            </div>
          </md-list-item>
        </md-nav-list>
    </md-card>
  </div>
</div>
