<h1>Groups</h1>

<div class="tile-grid">
  <div class="tile full-width">


  <md-card class="card">
    <md-card-title>
      Yoga 2100 at Clemson Feed
    </md-card-title>
    <md-card-header>
      <div md-card-avatar class="image"></div>
      <md-card-subtitle>Last Updated: 1 second ago</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/yogafeed.jpg">
    <md-card-content>
      <p>
        Click show more to access full feed, and a chance to post to feed.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button> Show More </button>
    </md-card-actions>
  </md-card>

</div></div>

<div class="tile-grid">
  <div class="tile full-width">


  <md-card class="card">
    <md-card-title>
      Clemson Running Feed
    </md-card-title>
    <md-card-header>
      <div md-card-avatar class="image"></div>
      <md-card-subtitle>Last Updated: 1 second ago</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/runnerfeed.jpg">
    <md-card-content>
      <p>
        Click show more to access full feed, and a chance to post to feed.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button> Show More </button>
    </md-card-actions>
  </md-card>

</div></div>

<div class="tile-grid">
  <div class="tile full-width">


  <md-card class="card">
    <md-card-title>
      Weightlifters at Fitness Connection Feed
    </md-card-title>
    <md-card-header>
      <div md-card-avatar class="image"></div>
      <md-card-subtitle>Last Updated: 1 second ago</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/Groupfeed1.jpg">
    <md-card-content>
      <p>
        Click show more to access full feed, and a chance to post to feed.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button> Show More </button>
    </md-card-actions>
  </md-card>

</div></div>
