/* You can add global styles to this file, and also import other style files */

/*lightgreen: rgb(152,228,193)*/
/*mediumgreen: rgb(112,217,169)*/
/*darkgreen: rgb(72,206,145)*/
/*lightgray: rgb(245,245,245)*/
/*mediumgray: rgb(225,225,225)*/
/*darkgray: rgb(100,100,100)*/

* {
  font-family: 'Roboto', sans-serif;
  color: rgb(100,100,100);
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 300;
  color: rgb(44, 157, 145);
}
button:focus {outline:0;}
input[type='checkbox']:focus {outline:0;}

.content-header {
  font-weight: 300;
  padding: 25px;
  color: rgb(44, 157, 145);
}

md-grid-list {
  margin-top: 40px;
}
md-grid-tile {
  padding: 10px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:25px;
    height:25px;
    border-radius:2px;
    border:2px solid rgb(100,100,100);
    margin-right: 15px;
}
input[type='checkbox']:checked {
    background: rgb(152,228,193) url("assets/images/check.png") no-repeat center;
    border-color: rgb(152,228,193);
    background-size: 20px 20px;
}
