$lightgray: rgb(245,245,245);
$mediumgray: rgb(225,225,225);
$darkgray: rgb(100,100,100);
$shadow: rgba(0,0,0,.24);

$m50:  #E0F7FA;
$m100: #B2EBF2;
$m200: #80DEEA;
$m300: #4DD0E1;
$m400: #26C6DA;
$m500: #00BCD4;
$m600: #00ACC1;
$m700: #0097A7;
$m800: #00838F;
$m900: #006064;

$a100: #ffe57f;
$a200: #ffd740;
$a400: #ffc400;
$a700: #ffab00;
