$lightgray: rgb(245,245,245);
$mediumgray: rgb(225,225,225);
$darkgray: rgb(100,100,100);

$m50:  #E0F2F1;
$m100: #b2dfdb;
$m200: #80cbc4;
$m300: #4db6ac;
$m400: #36a69a;
$m500: #009688;
$m900: #004d40;

$a100: #ffe57f;
$a200: #ffd740;
$a400: #ffc400;
$a700: #ffab00;

